@import url("https://fonts.googleapis.com/css2?family=Cardo:wght@700&family=Lato:wght@300;400;900&display=swap");
@import "./vars";

@import "./header";
@import "./intro";
@import "./create_memory";
@import "./cards";
@import "./see_places";
@import "./after_see_places";

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  background-color: #e9e7e7;
  font-family: $textFont;
  font-size: 1.65rem;
  color: $mainTextColour;
}

ul {
  list-style: none;
}

h1,
h2,
h3 {
  font-family: $titleFont;
  font-weight: bold;
  color: $mainTextColour;
}

.wrapper {
  width: 119.6rem;
  margin: 0 auto;
}

.btn {
  text-decoration: none;

  border: 3px solid;
  border-radius: 10px;
}

// %flex_center {
//   display: flex;
//   justify-content: center;
// }

// .example_block {
//   @extend %flex_center;

// }
